{% extends 'base.html' %}
{% block title %}Contact Us - StockFlow{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Contact Us</h1>
        <p class="lead">We’re here to help! If you have any questions, feedback, or need support, feel free to reach out to us.</p>

        <h2 class="mt-4">Get in Touch</h2>
        <p>Email: <a href="mailto:support@stockflow.com">support@stockflow.com</a></p>
        <p>Phone: +977-9810401225</p>
        <p>Address: Inaruwa-2, Sunsari, Nepal</p>

        <h2 class="mt-4">Business Hours</h2>
        <p>Sunday - Thrusday: 9:00 AM - 6:00 PM </p>
        <p>Friday: 10:00 AM - 2:00 PM </p>
        <p>Saturday: Closed</p>

        <h2 class="mt-4">Support</h2>
        <p>For technical support, please email us at <a href="mailto:techsupport@stockflow.com">techsupport@stockflow.com</a> or call us at +977-9810401225.</p>

        <h2 class="mt-4">Follow Us</h2>
        <p>Stay updated with the latest news and updates from StockFlow:</p>
        <p>
            <a href="https://twitter.com/Manishj90865274" class="me-3">Twitter</a>
            <a href="https://www.linkedin.com/in/manish-kumar-chaudhary-8637302a7" class="me-3">LinkedIn</a>
            <a href="https://www.facebook.com/share/17U8d631KL/">Facebook</a>
        </p>
    </div>
{% endblock %}